body {
  font-family: Arial, sans-serif;
  position: relative;
  top: 15px;
  left: 10px;
  margin: 0 auto;
  max-width: 600%;
}

.container {
  margin: 0;
  padding: 10px;
}
h1 {
  color: rgb(135, 135, 135);
  max-width: 50%;
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 100;
}
p {
  margin-bottom: 0;
  color: #70757a;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  bottom: 60px;
  color: #70757a;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  left: 300px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  max-width: 75%;
  margin: none;
}
.overview {
  margin-bottom: 10px;
}

.temperature {
  color: rgb(59, 58, 58);
  position: relative;
  top: 20px;
  line-height: 60px;
  font-size: 64px;
  font-weight: bold;
}

.weather-temperature .active {
  position: relative;
  bottom: 20px;
  color: hsl(225, 6%, 13%);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  cursor: default;
  text-decoration: none;
}

.overview {
  margin-bottom: 10px;
}
.weather-temperature img {
  display: inline-block;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  position: relative;
  left: 5px;
  top: 15px;
  color: rgb(33, 33, 33);
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
  margin: none;
}

.weather-forecast-date {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-temperature {
  font-size: 20px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast {
  font-size: 16px;
  display: inline;
  color: #000;
  text-align: center;
}
