body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  color: hsl(225, 6%, 13%);
  font-size: 22px;
  line-height: 28px;
  display: block;
  margin-bottom: 0;
}
.weather-app {
  max-width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.temperature {
  color: #202124;
  display: inline-block;
  line-height: 60px;
  vertical-align: top;
  font-size: 48px;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  list-style-type: none;
  margin: 0;
}
.units {
  text-decoration: none;
}
