body {
  font-family: Arial, sans-serif;
  position: relative;
  top: 15px;
  left: 10px;
  margin: 0 auto;
}

h1 {
  color: rgb(105, 99, 99);
  max-width: 50%;
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 100;
}
p {
  margin-bottom: 0;
  color: #70757a;
  text-transform: capitalize;
}

ul {
  position: relative;
  left: 300px;
  bottom: 120px;
  margin: 0;
  padding: 0;
}

li {
  color: #19191a;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}
.container-fluid {
  margin: 0;
  padding: 10px;
  width: 100px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  color: #c7cace;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(189, 178, 178);
  border-radius: 10px;
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 2px 2px;
  background: rgb(229, 231, 231);
}
.overview {
  margin-bottom: 10px;
}

.weather-temperature {
  color: rgb(34, 31, 31);
  text-decoration: none;
  font-weight: bold;
}
.temperature {
  line-height: 60px;
  font-size: 64px;
  font-weight: normal;
}

.weather-temperature img {
  display: block;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  position: relative;
  bottom: 60px;
  left: 70px;
  color: rgb(34, 31, 31);
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
  margin: none;
}

.weather-forecast .date {
  margin: 0 auto;
  text-align: center;
  color: #000;
}

.weather-forecast-temperature {
  display: inline;
  left: 100px;
  font-size: 20px;
}

.weather-forest .forecast.col-4 {
  margin: 0 auto;
  border: 1 solid #70757a;
}
.celsius {
  position: relative;
  left: 70px;
  bottom: 90px;
}
.img {
  display: block;
  margin: 0 auto;
}
.row {
  display: flexbox;
}
