body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding: none;
  color: #000;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  top: 15px;
  left: 15px;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}

.container {
  display: flex;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border-radius: 5px;
  margin-top: 0px;
  border: 1px solid #dadde1;
  box-shadow: 5px 5px 5px rgb(202, 200, 200);
  padding: 20px;
  background-color: rgb(202, 243, 248);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  display: flex;
}
.weather-temperature img {
  display: block;
  margin: 0px;
  padding: 0;
  height: 64px;
  width: 64px;
}
strong {
  position: relative;
  bottom: 10px;
  left: 20px;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.units {
  position: relative;
  left: 15px;
  bottom: 40px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.weather-forecast {
  margin: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast .forecast {
  font-size: ;
}
