body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  padding: none;
  color: #000;
  font-size: 64px;
  margin: none;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  left: 150px;
  bottom: 70px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}
p {
  text-align: center;
  margin-bottom: 10px;
  padding: 0;
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  list-style: none;
  text-transform: capitalize;
}
.clearfix .weather-temperature img {
  display: flex;
  justify-content: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid #dadde1;
  box-shadow: 5px 5px 5px rgb(202, 200, 200);
  padding: 20px;
  background-color: rgb(181, 239, 247);
}
.overview {
  margin-bottom: 5px;
}
.search-form .mb-3 {
  margin-bottom: none;
}
.weather-temperature {
  display: flex;
}
.weather-temperature img {
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 64px;
  width: 64px;
}
.strong {
  position: relative;
  left: 230px;
  bottom: 50px;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.degrees {
  position: relative;
  left: 300px;
  bottom: 130px;
  font-size: 25px;
  color: red;
}

.weather-forecast {
  font-size: 16px;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 13px;
}

.weather-forecast-date {
  text-align: center;
}
.weather-forecast .forecast {
  display: block;
  margin: 0 auto;
}
.col-6 {
  padding: none;
  margin: none;
}
