body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #000;
  font-size: 26px;
  margin: none;
  padding-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  color: rgb(33, 33, 33);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
li {
  position: relative;
  left: 300px;
  bottom: 160px;
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  list-style: none;
}
p {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 10px;
}
.weather-app {
  position: relative;
  left: 300px;
  border-radius: 10px;
  margin-top: 30px;
  border: 1px solid #dadde1;
  max-width: 50%;
  box-shadow: 5px 5px 5px rgb(202, 200, 200);
  padding: 20px;
  background-color: rgb(123, 228, 241);
}
weather-app-wrapper {
  margin-top: 20px;
}
.weather-temperature img {
  display: block;
  box-sizing: border-box;
}
.temperature strong {
  position: relative;
  left: 60px;
  bottom: 70px;
  font-size: 58px;
}
.degrees {
  position: relative;
  left: 120px;
  bottom: 140px;
  font-weight: bold;
}
